<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>connections</key>
	<dict>
		<key>BE305B44-CBC7-45AD-B73C-025993DABF5C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D62538DA-0F4C-4D30-8223-18A843EDA91A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>description</key>
	<string>A workflow created by you as part of Getting Started</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Test</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>echo hello eric</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>D62538DA-0F4C-4D30-8223-18A843EDA91A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>eric</string>
				<key>subtext</key>
				<string>subtest</string>
				<key>text</key>
				<string>title</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>BE305B44-CBC7-45AD-B73C-025993DABF5C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string></string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>8BB13ABD-2B83-4EB6-97E7-9796D4E2D228</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array/>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>05F85B14-2F71-4562-A6D1-0180D4799231</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>uidata</key>
	<dict>
		<key>05F85B14-2F71-4562-A6D1-0180D4799231</key>
		<dict>
			<key>xpos</key>
			<real>375</real>
			<key>ypos</key>
			<real>350</real>
		</dict>
		<key>8BB13ABD-2B83-4EB6-97E7-9796D4E2D228</key>
		<dict>
			<key>xpos</key>
			<real>295</real>
			<key>ypos</key>
			<real>225</real>
		</dict>
		<key>BE305B44-CBC7-45AD-B73C-025993DABF5C</key>
		<dict>
			<key>xpos</key>
			<real>95</real>
			<key>ypos</key>
			<real>105</real>
		</dict>
		<key>D62538DA-0F4C-4D30-8223-18A843EDA91A</key>
		<dict>
			<key>xpos</key>
			<real>335</real>
			<key>ypos</key>
			<real>95</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
</dict>
</plist>
